/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Helevetica", sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: "Helevetica", sans-serif;}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
  background-image: transparent;
  border-color:1px, solid, #0004EB;
}
header {
  padding: 40px 0;
}
nav{
  margin-bottom:30px;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #0004EB;
}

nav {
  border-color:1px, solid, #0004EB;
  padding: 12px;
}

.button {
  background-color: #0004EB;
  color: #fff;
  padding: 6px 10px;
}