@import "reset.css";

* {
  box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  /*@media (min-height:1223px){
    main.index{
      display: flex;
    }
    main.luncheon{
      display: flex;
    }
    main.toomuch{
      display: flex;
    }
    main.wallet{
      display: flex;
    }
    main.dirtyfurniture{
      display: flex;
    }
    
  }*/
  main.index{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bcbcbc;
    flex-direction: column;
  }

  .header{
    flex: 45%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 170px;
  }

   .nav-index {
     flex:45%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    padding-left:60px;
  }

  .bottom{
    flex:10%;
  }
  .nav-index .blank{
    flex:50%;
  }

  .nav-index ul {
    background-color: #0066ff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
    flex:50%;
  }

  .nav-index ul li a {
    color: black;  
    text-decoration: none;
  }

  .nav-index ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

  .nav-index ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   } 

  a.index{
    flex:1;
    width: 200px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    position: absolute;
    bottom: 40px;
    left: -160px;
  }

 
  main.luncheon {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .luncheon-page{
    background-color:#ff9574;
  }

  div.luncheon{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    margin-right:-600px;
    padding-top:10px;
    z-index:1;
  }

  .luncheon-cover img{
    width:700px;
  }

  .luncheon-cover{
    z-index:0;
    padding-top:50px;
    position:center;
    width:auto;
  }

  .right{
    display:flex;
    flex-direction: column;
    padding-top:50px;
  }

.right .description-luncheon{
    display:flex;
    flex-direction: column;
    line-height: 1.2;
  }

.right .description-luncheon p{
  background-color: #0066ff;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width:250px;
    order:1;
}

.right .description-luncheon .name{
    background-color: #00ec7b;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    flex-basis: content;
    width: fit-content;
    padding: 5px;
    font-size: 16px;
    order:2;
  }
 
 .right nav.luncheon {
   padding-top:20px;
  }
  nav.luncheon ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.luncheon ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.luncheon ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.luncheon ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }


   main.toomuch {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .toomuch-page {
    background-color: #00ec7b;
  }

  main.toomuch .mag-cover img { 
    width: 100%;
   }

  main.toomuch .mag-cover {
    z-index: 0;
    position: relative;
    flex: 37%; }

  .top-toomuch {
    position: absolute;
    top: -100px;
    right:-10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 222px;
  line-height: 1.2;
  }
  
  .bottom-toomuch{
    position: absolute;
    top: 90px;
    right:-28px;
  }


  .bottom-toomuch.much {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 222px;
    writing-mode: vertical-rl;
  }
  
  .toomuch .description{
    order:4;
    display:flex;
    align-content: bottom;
    flex-direction: column;
    margin-top:615px;
    margin-left:0;
    line-height: 1.2;
   /* margin-left:558px;*/
  }
  .description p {
    background-color: #e5cf00;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 250px;
    font-size: 16px;
    order:1;
  }

  .description .name{
    border: 1px solid black;
    background-color: #ff9574;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: fit-content;
    font-size: 16px;
    padding: 5px;
    font-size: 16px;
    order:2;

  }
  
 

  .bottom-toomuch .nav-toomuch{
    order:2;
    margin-top:350px;

  }

  nav.toomuch {
    margin-top:445px;
    margin-right: -100px;
    z-index: 1;
  }
  nav.toomuch ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.toomuch ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.toomuch ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.toomuch ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }


  
  
   main.wallet {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .wallet-page{
    background-color: #e5cf00;
  }

  .description-wallet{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:1.2;
    padding-top:215px;
  }

  .description-wallet p{
   background-color: #ff9574;
   border: 1px solid;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   width:250px;
   font-size: 16px;
  }

.description-wallet .name{
  background-color: #0066ff;
  border: 1px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
  font-size: 16px;
  padding: 5px;
}

  nav.wallet{
    padding-top:800px;
    z-index:1;
  }

  nav.wallet ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.wallet ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.wallet ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.wallet ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }
  
.wallet-cover{
width:auto;
margin-left:-50px;
margin-right:-100px;
z-index:0;
}

.wallet-cover img{
  width:450px;
  padding-top:100px;

}
  
div.wallet{
  font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    padding-top:700px;
    z-index:1;
}
  
   
   main.furniture {
    width: 80vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    position:relative;
  }

  .furniture-page{
    background-color: #0066ff;
  }
  
  nav.furniture{
    padding-top:415px;
    padding-left:53px;
    z-index:1;
  }

  nav.furniture ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.furniture ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.furniture ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.furniture ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }

   .furniture-cover{
    width:auto;
    padding-top:100px;
   }
   
   .furniture-cover img{
     width:700px;
   }
  
   .dirty {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    margin-bottom: 200px;
    position: absolute;
    padding-left:1070px;
  }

  .rotate {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    transform: rotate(90deg);
    position: absolute;
    margin-top:0px;
    padding-left: 1428px;
    padding-right: 598px;
  }
  
  .description-furniture{
    display:flex;
    flex-direction:column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height:1.2;
    flex-grow:2;
    padding-top: 415px;
    padding-left: 110px;
  }

  .description-furniture p {
    background-color: #00ec7b;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 200px;
    font-size: 16px;
  }

  .description-furniture .name{
    background-color:#e5cf00;
    border:1px solid;
    width:fit-content;
    padding:5px;
  }
  

  .home-icon {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #bcbcbc;
    position: absolute;
    bottom: 40px;
    left: -160px;
  }
  