@import "reset.css";

* {
  box-sizing: border-box;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  /*@media (min-height:1223px){
    main.index{
      display: flex;
    }
    main.luncheon{
      display: flex;
    }
    main.toomuch{
      display: flex;
    }
    main.wallet{
      display: flex;
    }
    main.dirtyfurniture{
      display: flex;
    }
    
  }*/
  main.index{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bcbcbc;
    flex-direction: column;
  }

  .header{
    flex: 45%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 170px;
  }

   .nav-index {
     flex:45%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    padding-left:60px;
  }

  .bottom{
    flex:10%;
  }
  .nav-index .blank{
    flex:50%;
  }

  .nav-index ul {
    background-color: #0066ff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
    flex:50%;
  }

  .nav-index ul li a {
    color: black;  
    text-decoration: none;
  }

  .nav-index ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

  .nav-index ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   } 

  a.index{
    flex:1;
    width: 200px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    position: absolute;
    bottom: 40px;
    left: -160px;
  }

  main.luncheon {
    width: 100vw;
    height: 100vh;
    background-color: #ff9574;
    background-image: url("p1-images/luncheon.jpg");
    background-size: 35% auto;
    background-repeat: no-repeat;
    background-position: 58% bottom;
    display: flex;
    position: absolute;
    
  }
  
  div.luncheon {
    flex:65%;
  }
  div.luncheon p{
    padding-top:50px;
    font-family: "Roboto", sans-serif;
    
    font-weight: 300;
    text-transform: uppercase;
    font-size: 170px;
  }

div.content{
  flex:35%;
  display:flex;
  flex-direction: column;
  line-height: 1.2;
}

.content .description-luncheon{
    background-color: #0066ff;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width:250px;
    order:1;
    margin-top: 65px
  }
.content .name{
    background-color: #00ec7b;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    flex-basis: content;
    width: fit-content;
    padding: 5px;
    font-size: 16px;
    order:2;
  }
 
 nav.luncheon-index {
    position:  absolute;
    bottom: 0px;
    margin-left: 95px;
    margin-bottom:4px;
  }

  nav.luncheon-index ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.luncheon-index ul li a {
    text-decoration: none;
    color:black;
  }

  nav.luncheon-index ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.luncheon-index ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }

   main.toomuch {
    width: 100vw;
    height: 100vh;
    background-color: #00ec7b;
    background-image: url("p1-images/toomuch.jpg");
    background-size: 37% auto;
    background-repeat: no-repeat;
    background-position:  bottom center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  div.top {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 150px;
    justify-content: flex-end;
    margin-left:664px;
    margin-top:20px;
  }
  div.transparent{ 
    background-color:yellow;
    color: transparent;
    width:400px;

}
  .bottom{
    display: flex;
    flex-direction: row;
    line-height: 1.2;
  }

  .bottom .transparency{
    background-color: yellow;
    order:1;
  }

  .bottom .much {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 150px;
    writing-mode: vertical-rl;
    order:3;
  }
  
  .bottom .description{
    order:4;
    display:flex;
    flex-direction: column;
    margin-top:370px;
   /* margin-left:558px;*/
  }
  .description p {
    background-color: #e5cf00;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 250px;
    font-size: 16px;
    order:1;
  }

  .description .name{
    border: 1px solid black;
    background-color: #ff9574;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: fit-content;
    font-size: 16px;
    padding: 5px;
    font-size: 16px;
    order:2;

  }
  
 

  .bottom .nav-toomuch{
    order:2;
    margin-top:350px;

  }

  
  nav.toomuch ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.toomuch ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.toomuch ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.toomuch ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }


  
  
   main.wallet {
    background-color: #e5cf00;
    background-image: url("p1-images/wallet.jpg");
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: 40% bottom;
    position: relative;
  }
  
  main.wallet h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    margin-bottom: -660px;
    margin-right:-840px;
    text-transform: none;
  }


  .description-wallet{
    width:250px;
    height: 240px;
    position: relative;
    margin-left:-300px;

  }
  
  .description-wallet article {
    background-color: #ff9574;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width:250px;
    font-size: 16px;
    position: absolute;
    }

  .description-wallet .name{
    background-color: #0066ff;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    bottom: 0;}
  
  
  nav.wallet {
    position:  absolute;
    bottom: 0px;
    left: 120px;
  }

  nav.wallet ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.wallet ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.wallet ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.wallet ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }
   
   main.dirtyfurniture {
    background-color: #0066ff;
    background-image: url("p1-images/dirtyfurniture.jpg");
    background-size: 37% auto;
    background-repeat: no-repeat;
    background-position: 30% bottom;
    position: relative;
  }
  
  main.dirtyfurniture h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    margin-bottom: 200px;
  }

  main.dirtyfurniture .h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 170px;
    margin-left: 0px;
    margin-top: -300px;
    transform: rotate(90deg) 
  }
  
  main.dirtyfurniture p {
    background-color: #00ec7b;
    border: 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 200px;
    font-size: 16px;
    margin-top: -440px;
    margin-right: 1000px;
    position: absolute;
  }
  
  nav.dirtyfurniture {
    position:  absolute;
    bottom: 0px;
    left: 120px;
  }

  nav.dirtyfurniture ul {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    list-style-type: none;
  }

  nav.dirtyfurniture ul li a {
    color: black;  
    text-decoration: none;
  }

  nav.dirtyfurniture ul li a:hover { 
    font: italic 1em "Roboto", sans-serif;
    font-weight: 300;
   }

   nav.dirtyfurniture ul li a:visited { 
    font: italic 1em "Roboto", sans-serif;
    border-bottom: 1px solid black;
    font-weight: 300;
   }

  .home-icon {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #bcbcbc;
    position: absolute;
    bottom: 40px;
    left: -160px;
  }