@import "reset.css";

body{
    margin:0;
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    box-sizing:border-box;
    overflow-x:hidden;
}




.tophome-icn{
    text-align: center;
}

.tophome-icn img{
    width:20%;
    display: block;
    padding-left: 40%;
    padding-right: 40%;
    padding-top:5%;
}

.home-img{
    text-align: center;
}

.home-img img{
    width:80%;
    display: block;
    padding-left: 10%;
    padding-right:10%;
    padding-top:50px;
}

/*navigation mobile*/

nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Actor', sans-serif;
    padding-left:10%;
    padding-right:10%;
    padding-top:20%;
    padding-bottom:2%;
}

.logo img{
    width:40px;
}

.nav-links{
    position:absolute;
    right:0px;
    height:92vh;
    top:8vh;
    background-color:black;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li{
    opacity:0;
}

.nav-links a{
    color:white;
    text-decoration: none;
    font-weight:bold;
    font-size: 25px;
    padding:8px;
}

.burger{
   display:block;
   cursor:pointer;
}

.burger div{
    width:25px;
    height:3px;
    background-color:black;
    margin:5px;
}

.nav-active{
    transform: translateX(0%);
}

/*navigation desktop*/
@media only screen and (min-width:769px){
    .burger div{
        display:none;
    }

    nav{
        display:flex;
        justify-content:space-around;
        align-items: center;
        min-height: 8vh;
        font-family: 'Actor', sans-serif;
        width: 70%;
        margin:auto;
        padding-top:5%;
        padding-bottom:5%;
    }
    
    .logo img{
        width:80px;
    }
    
    .nav-links{
        display: flex;
        justify-content: space-between;
        width: 76%;
        padding-left:20px;
    }
    
    .nav-links a{
        color:black;
        text-decoration: none;
        font-weight:bold;
        font-size: 25px;
        padding:8px;
    }

    
    
}
